# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Flask instance folder
instance/
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env
.env.*

# Credentials and secrets
credentials.json

# IDE configs
.vscode/
.idea/
*.swp
*.swo

# Compiled extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Packaging
build/
dist/
*.egg-info/
.eggs/
